$base-font-size: 14px;

@mixin ph {
	@media (max-width: 700px) {
		@content;
	}
}

* {
	box-sizing: border-box;
}
body {
	border: solid 1px red;
	font-size: $base-font-size;
	font-family: Arial;
	line-height: 1.5;
	background: url("../img/page_bg.jpg") no-repeat 0 0 / cover;

	@include ph {
		color: #fff;
		background-color: #000;
	}
}

@import "block/*.scss";
// @import "block/news.scss";
